@font-face {
    font-family: 'vivaldi';
    src: url('../fonts/vivadcl_-webfont.woff2') format('woff2'),
         url('../fonts/vivadcl_-webfont.woff') format('woff'),
         url('../fonts/VIVADCL_.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lucida Calligraphy';
    src: url('../fonts/LCALLIG.ttf'),
         url('../fonts/lcallig-webfont.woff'),
         url('../fonts/VIVADCL_.TTF') format('ttf');
    font-weight: normal;
    font-style: normal;
}