body {
  height: 100%; }

html {
  height: 100%;
  background: #ffffff; }
  html .wraper {
    display: flex;
    flex-direction: column;
    height: 100%; }
    html .wraper header {
      padding-top: 18px; }
      html .wraper header .logo {
        text-align: center; }
      html .wraper header .menu {
        display: block;
        font: 15px "Open Sans", sans-serif;
        margin-top: 40px;
        margin-bottom: 40px; }
        html .wraper header .menu li {
          display: block;
          float: left;
          margin: 0;
          padding: 0;
          width: 33%;
          text-align: center;
          margin: 10px 0;
          position: relative; }
          html .wraper header .menu li:hover ul {
            display: block;
            width: 100%; }
          html .wraper header .menu li a {
            color: #000;
            display: block;
            text-decoration: none; }
          html .wraper header .menu li ul {
            display: none;
            margin: 0;
            padding: 0;
            width: 100%;
            text-align: center;
            padding-bottom: 5px;
            position: absolute;
            z-index: 5;
            background: #fff;
            padding-top: 10px; }
            html .wraper header .menu li ul li {
              float: none;
              text-align: center;
              width: 100%;
              background: #fff;
              margin: 0;
              padding: 10px 0; }
    html .wraper .content {
      flex: 1 0 auto; }
      html .wraper .content .pictures {
        max-width: 960px;
        margin: 0 auto;
        width: 960px; }
        html .wraper .content .pictures .item {
          margin-top: 10px;
          margin-left: 10px;
          padding: 0;
          float: left;
          position: relative; }
          html .wraper .content .pictures .item img {
            display: block;
            height: 228px;
            width: 228px;
            position: relative; }
          html .wraper .content .pictures .item .info {
            font: 12px "Lucida Calligraphy";
            position: absolute;
            top: 0;
            background: rgba(0, 0, 0, 0.3);
            width: 228px;
            height: 228px;
            display: none; }
            html .wraper .content .pictures .item .info .header {
              font-size: 18px;
              width: 80%;
              margin: 150px auto 0;
              text-align: center;
              color: #fff; }
            html .wraper .content .pictures .item .info span.date {
              display: block;
              width: 100%;
              text-align: center;
              font-size: 15px;
              color: #fff; }
        html .wraper .content .pictures .item:hover .info {
          display: block; }
    html .wraper footer {
      flex: 0 0 auto;
      background: #0f0; }

@media only screen and (max-width: 1000px) {
  html body .wraper .content .pictures {
    width: 715px; } }
@media only screen and (max-width: 768px) {
  html body .wraper .content .pictures {
    width: 476px; } }
@media only screen and (max-width: 530px) {
  html body .wraper .content .pictures {
    width: 100%; }
    html body .wraper .content .pictures .item {
      width: 100%;
      margin: 2px 0; }
      html body .wraper .content .pictures .item img {
        width: 100%;
        height: 100%; }
      html body .wraper .content .pictures .item .info {
        width: 100%;
        height: 100%; } }

/*# sourceMappingURL=main.css.map */
